@import'_vars.scss';
@import './components/nav';
body {
    background: grey;
    color: black;
}
.square {
    width: 150px;
    height: 150px;
    background: red;
    transition: .3s cubic-bezier(.17,.67,.64,1.39);
}

.circle {
    border-radius: 50%;
}